/*    COLORS    */


$grey_bg:#f5f7f7;
$grey_button:#f2f4f4;
$grey_txt:#526b6f;
$grey_dark_txt:#072b31;
$grey_hover:#e6e9ea;

$green_list_item:#cce8ea;
$green_hover:#a6d7da;


/* MARGINS AND PADDINGS */

$body_padding: 0rem 1.5rem;
