/*    COLORS    */

$grey_bg:#f5f7f7;
$grey_button:#f2f4f4;
$grey_txt:#526b6f;
$grey_dark_txt:#072b31;
$grey_hover:#e6e9ea;

$green_list_item:#cce8ea;
$green_hover:#a6d7da;


/* MARGINS AND PADDINGS */

$body_padding: 0rem 0 0 1.5rem;
$body_padding_mobile: 0rem;




$corp_color: #D82465;

$bg_color: #F3F6F7;
$bg_grey: #E4E4E3;
$icon_color: #4A4A46;

/* item colors */
$grey_bg:#f5f7f7;
$grey_button:#f2f4f4;
$grey_txt:#526b6f;
$grey_dark_txt:#072b31;
$grey_hover:#e6e9ea;

$green_list_item:#cce8ea;
$green_hover:#a6d7da;

/* alert type colors */
$correct: #DFF9E3;
$info: #DCF1FB;
$warning: #FFF4DD;
$error: #FEEAE1;
$critical: #FFDEDD;



$background-color: #f0f0f0;