
/* navbar.component.scss */
.navbar {
    ul.navbar-nav {
      .nav-item {
        margin-left: 0.5em;
      }
    }
  }
  /* jhipster-needle-scss-add-main JHipster will add new css style */
  
  body {
    background-color: $grey_bg;
  }
  
  .page_body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    padding: 1em;
    background-color: $grey_bg;
  
    &.sidenav_opened {
      margin-right: 3em;
    }
  
    .router-body {
      flex:1;
      background-color: white;
  
      &.main {
        background-color: $grey_bg;
      }
  
      .jh-card {
        background-color: transparent;
      }
    }
  }
  
  
  .page_body.sidenav_opened {
    margin-right: 60px;
  }
  
  @media only screen and (max-width: 40em) {
    .page_body.sidenav_opened {
      margin: 0;
    }
    .body_padding {
      padding: 0 1em;
    }
  }
  
  
/* Estilos básicos para la tabla */
.table {
  width: 100%;
  background-color: white !important;
  border-collapse: separate;
  border-spacing: 0 15px; /* Ajuste para que el border-spacing solo aplique verticalmente */
  color: $green_list_item;
  font-weight: 500;
  //min-width: 200px;
}

.table thead tr th {
  color: $grey_txt;
  font-weight: 400;
  border: 0;
  margin: 0;
  padding: 10px; /* Añadido padding uniforme */
  background-color: #f9f9f9;
  vertical-align: middle; /* Asegura que el texto está centrado verticalmente */
}

.table tbody td {
  background-color: $green_list_item !important;
  padding: 10px; /* Añadido padding uniforme para alinear con thead */
  display: table-cell; /* Asegura comportamiento de celda de tabla */
  vertical-align: middle; /* Asegura que el texto está centrado verticalmente */
}

/* Bordes redondeados para la primera y última celda de cada fila */
.table tbody tr td:first-of-type {
  border-radius: 30px 0 0 30px;
}

.table tbody tr td.text-end:last-of-type,
.table tbody tr td:last-child {
  border-radius: 0 30px 30px 0;
}

/* Media Queries para ajustar la visualización en pantallas menores de 1200px */
@media (max-width: 1200px) {
  /* Oculta todas las columnas excepto la segunda, tercera y última */
  .table thead th, .table tbody tr td {
    display: none;
  }

  .table thead th:nth-child(2), .table thead th:nth-child(3), .table thead th:last-child,
  .table tbody tr td:nth-child(2), .table tbody tr td:nth-child(3), .table tbody tr td:last-child {
    display: table-cell;
    white-space: nowrap; /* Previene el salto de línea */
    overflow: hidden; /* Esconde el overflow de texto */
    text-overflow: ellipsis; /* Añade ellipsis si el texto es demasiado largo */
    max-width: none; /* Elimina cualquier límite máximo de ancho */
  }

  /* Aplica bordes redondeados a la primera y última columna visible */
  .table tbody tr td:nth-child(2) {
    border-radius: 30px 0 0 30px; /* Redondeado correcto para la primera columna visible */
  }

  .table tbody tr td:last-child {
    border-radius: 0 30px 30px 0; /* Redondeado correcto para la última columna visible */
  }

  /* Reducción del tamaño de la fuente para mejorar la visualización en dispositivos móviles */
  .table, .table th, .table td {
    font-size: 12px; /* Establece un tamaño de fuente más pequeño para la tabla en móviles */
  }
}






  
  
  /* SCROLLABLE TABLE */
  
  // thead, tbody { display: block; }
  
  // tbody {
  //   background-color: white!important;
  //   height: 100px;       /* Just for the demo          */
  //   overflow-y: auto;    /* Trigger vertical scroll    */
  //   overflow-x: hidden;  /* Hide the horizontal scroll */
  // }
  
  .list-operations {
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 1px solid black;
    button {
      border: 0;
      background-color: transparent;
    }
  }
  
  
  
  .operation_icon {
    height: 20px;
    width: 20px;
  }
  
  .user_icon_profile {
    height: 40px;
    word-wrap: 40px;
  }
  
  
  .sidenav_icon {
    height: 30px;
    width: 30px;
  }
  
  
  /*    DASHBOARDS    */
  #dashboard_panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
  
    .column {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      flex: 33%;
      
  
      .test_options {
        display: flex;
        width: 100%;
        flex:1;
        flex-direction: row;
        background-color: transparent;
    
        .test {
          flex:1;
          width: 33%;
          height: 150px;
          border: 1px solid $green_list_item;
          border-radius: 10px;
          background-color: $green_list_item;
          margin: 10px;
        }
      }
  
      .graph_div {
        background-color: #fff;
        border-radius: 14px;
        padding: 10px;
        width: max-content;
      }
  
      .ex_block_1 {
        border: transparent;
        border-radius: 14px;
        background-color: $green_list_item;
        height: 50px;
        flex:1;
        margin: 20px 0;
      }
    }
  }
  
  @media only screen and (max-width: 600px) {
    #dashboard_panel {
      .column {
        flex: 100%;
  
        h4 {
          margin-top: 50px;
        }
  
        .test_options {
          flex-direction: column;
          .test { 
            width: 100%;
            min-height: 50px;
          }
        }
  
      }
    }
  }
  
  /* Charts  */
  
  
  
  /*      LIST PAGE      */
  #options_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.7em;
    margin: 10px 0;
  
    .option_rounded {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2px 2px;
      margin: 0 5px 0 0;
      border: 0px;
      border-radius: 14px;
      
      &.colored {
        background-color: $green_list_item;
      }
      
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
        height: 25px;
        width: 30px;
        background-color: transparent;
        border-radius: 14px;
        cursor: pointer;
  
        &:hover {
          background-color: $grey_txt;
          color: white;
        }
  
        * {
          display: flex;
          max-height: 100%;
        }
      }
    
      span.label {
        display: flex;
        align-items: center;
        padding: 0 17px;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
  
  
  .btn_group {
    display: flex;
    flex-direction: row;
    
    &.end {
      justify-content: flex-end;
    }
  }
  
  .round_button {
    background-color: $green_list_item;
    border-radius: 14px;
    border: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px 20px;
    margin: 0 5px;
  
    &.selected {
      background-color: darken($green_list_item, 10%);
    }
  
    &:hover {
      background-color: darken($green_list_item, 20%);
    }
  }
  
  .list-item-actions {
    .btn_group .list-item-actions {
      
    }
  }
  
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  .no-mobile {
    opacity: 1;
  }
  
  .block {
    background-color: white;
    border-radius: 14px;
  }
  
  @media only screen and (max-width: 58.75em) {
    .only-mobile {
      opacity: 1;
    }
  
    .no-mobile {
      opacity: 0;
    }
  
    .page_body {
      padding: 0px;
    }
  }
  