<div class="row dashboard">

    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
      <div class="row column-block"> 

        <div class="col-lg-6 col-md-12 col-sm-12 column">
          <div class="block-50">

            <div class="grid">
              <div class="planta">
                <div class="info">
                  <span class="name">Planta 01</span>
                  <span class="descrip">Planta de prueba</span>
                </div>
              </div>
              <div class="planta">
                <div class="info">
                  <span class="name">Planta 02</span>
                  <span class="descrip">Planta de prueba</span>
                </div>
              </div>
              <div class="planta">
                <div class="info">
                  <span class="name">Planta 03</span>
                  <span class="descrip">Planta de prueba</span>
                </div>
              </div>
            </div>
  
            <div class="">
              <div class="mockup-graph">
                <div class="header">
                  <fa-icon class="icon" icon="bell"></fa-icon>
                  <span class="block-title">Gráfica 01</span>   
                </div>
                
                <dx-chart id="splineAreaBarsChart" class="chartItem" title="" palette="Harmony Light"
                [dataSource]="corporationsInfo">
                <dxi-series valueField="y2005" name="2005"></dxi-series>
                <dxi-series valueField="y2004" name="2004"></dxi-series>
                <dxo-common-series-settings #commonSeries argumentField="company"
                    type="splinearea"></dxo-common-series-settings>
                <dxo-margin [bottom]="20"></dxo-margin>
                <dxo-argument-axis [valueMarginsEnabled]="false"></dxo-argument-axis>

            </dx-chart>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 column">
          
          <div class="header">
            <fa-icon class="icon" icon="bell"></fa-icon>
            <span class="block-title" >Notificaciones</span>
          </div>
    
          <div class="row">
            <ul class="alert-list">
              <li class="alert-block informative">
                <div class="title">
                  <span class="name">Nombre de Alerta</span>
                </div>
                <div class="continue-icon">
                  <fa-icon class="icon" icon="right-to-bracket"></fa-icon>
                </div>
              </li>
              <li class="alert-block informative">
                <div class="title">
                  <span class="name">Nombre de Alerta</span>
                </div>
                <div class="continue-icon">
                  <fa-icon class="icon" icon="right-to-bracket"></fa-icon>
                </div>
              </li>
              <li class="alert-block informative">
                <div class="title">
                  <span class="name">Nombre de Alerta</span>
                </div>
                <div class="continue-icon">
                  <fa-icon class="icon" icon="right-to-bracket"></fa-icon>
                </div>
              </li>
              <li class="alert-block informative">
                <div class="title">
                  <span class="name">Nombre de Alerta</span>
                </div>
                <div class="continue-icon">
                  <fa-icon class="icon" icon="right-to-bracket"></fa-icon>
                </div>
              </li>
            
            </ul>
          </div>

          <div class="mockup-graph mt-4">
            <div class="header">
              <fa-icon class="icon" icon="bell"></fa-icon>
              <span class="block-title">Gráfica 03</span>
            </div>
            <dx-chart id="verticalBarsChart" title="" class="chartItem" [dataSource]="populationData">
              <dxo-legend [visible]="false"></dxo-legend>
              <dxi-series type="bar"></dxi-series>
              <dxo-argument-axis [tickInterval]="1">
                  <dxo-label>
                      <dxo-format type="decimal"></dxo-format>
                  </dxo-label>
              </dxo-argument-axis>
          </dx-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
      <div class="mockup-graph mt-4">
        <div class="header">
          <fa-icon class="icon" icon="bell"></fa-icon>
          <span class="block-title">Gráfica 03</span>
        </div>
        <dx-chart id="splineAreaBarsChart" class="chartItem" title="" palette="Harmony Light"
                [dataSource]="corporationsInfo">
                <dxi-series valueField="y2005" name="2005"></dxi-series>
                <dxi-series valueField="y2004" name="2004"></dxi-series>
                <dxo-common-series-settings #commonSeries argumentField="company"
                    type="splinearea"></dxo-common-series-settings>
                <dxo-margin [bottom]="20"></dxo-margin>
                <dxo-argument-axis [valueMarginsEnabled]="false"></dxo-argument-axis>

            </dx-chart>
      </div>
    </div>

  </div>