// Importing variables at the top
@import './content/scss/variables';

/* ==========================================================================
   Main page styles
   ========================================================================== */
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-size: contain;
}

/* Handling high pixel density displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background-size: contain;
  }
}

/* ==========================================================================
   Dashboard Styles
   ========================================================================== */
.dashboard {
  display: flex;
  flex-direction: row;
  padding: 10px; // Uniform padding

  .header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    align-items: center;
    max-height: 40px;
    .icon {
      margin-right: 10px;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      flex: 1 0 100px;
      max-width: 200px;
      margin: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: hsl(0, 0.20%, 90%);
      }

      &.planta {
        background: rgb(228, 228, 228);
        border-radius: 14px;
        text-align: center;
        height: 160px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        transition: all 0.3s;
        
        &:hover {
          transform: scale(0.9);
          background-color: hsl(184, 52%, 90%);
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .name {
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .column-block {
    flex-direction: row;
    display: flex;
    height: 100%;
  }

  .alert-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

    .alert-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 8px 6px 8px 20px;  // Asymmetrical padding
        border-radius: 14px;
        margin: 6px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: black;

        .continue-icon {
            background-color: $grey_bg;
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-height: 24px;
            .icon {
                padding: 4px;
            }
        }

        .title {
            display: block;
            .name {
                font-weight: 400;
            }
        }

        .info {
            padding: 2px;
        }

        &.warning {
            background-color: $warning;
            &:hover {
                background-color: hsl(41, 100%, 83%);
            }
        }

        &.error {
            background-color: $error;
            &:hover {
                background-color: hsl(19, 94%, 84%);
            }
        }

        &.critical {
            background-color: $critical;
            &:hover {
                background-color: hsl(2, 100%, 83%);
            }
        }

        &.informative {
            background-color: $green_list_item;
            &:hover {
                background-color: hsl(184, 20%, 84%);
            }
        }
    }
}

}

/* Responsive Media Queries */
@media only screen and (max-width: 58.75em) {
  .dashboard .column-block {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard {
    .grid > div {
      flex: 1 0 50%; // Adjusting for smaller screens
      max-width: 50%;
    }
    .mockup-graph {
      margin-top: 20px; 
    }
  }
}

@media only screen and (max-width: 942px) {
  .dashboard .column {
    margin-bottom: 20px;
  }
}
