<nav data-cy="navbar" class="">

  <div class="user-options-left">
    <a class="navbar-brand logo" routerLink="/" (click)="toggleNavbar()">
      <span class="logo-img"></span>
      <span jhiTranslate="global.title" class="navbar-title">Inicio</span>
      <span class="navbar-version text-black">{{ version }}</span>
    </a>

    <div class="info-block">
      <div class="languages">
        <ul class="item_dropdown">
          @if (languages && languages.length > 1) {
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
              <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                <span>
                  <fa-icon icon="flag"></fa-icon>
                </span>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                  @for (language of languages; track $index) {
                    <li>
                      <a
                        class="dropdown-item"
                        [jhiActiveMenu]="language"
                        href="javascript:void(0);"
                        (click)="changeLanguage(language); collapseNavbar()">
                        {{ language | findLanguageFromKey }}
                      </a>
                    </li>
                  }
                </ul>
              </a>
            </li>
          }
        </ul>
      </div>
      <button>
        <img class="operation_icon" src="./content/images/ICONO_Campana.svg" alt="">
      </button>
      <button>
        <img class="operation_icon" src="./content/images/ICONO_Info.svg" alt="">
      </button>
    </div>
  
    
  </div>

  
  
  <label for="input-hamburguer" class="hamburger close">
    <fa-icon icon="bars"></fa-icon>
  </label>
  <input type="checkbox" id="input-hamburguer" hidden>

  <ul class="menu_items">
    <li><a href="#" class="menu-link"><span jhiTranslate="global.menu.home">Inicio</span></a></li>
    @if (account !== null) {
    <li class="has-dropdown">
      <a class="menu-link" href="javascript:void(0);" id="entity-menu" data-cy="entity">
        Entidades
        <span class="arrow"></span>
      </a>
      <ul class="submenu">
        <li 
            *jhiHasAnyAuthority="['ROLE_ADMIN']">
              <a
                class="dropdown-item"
                routerLink="/organization"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <span jhiTranslate="global.menu.entities.organization">Organization</span>
              </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            [routerLink]="['/site']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <span jhiTranslate="global.menu.entities.site">Site</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item menu-link"
            [routerLink]="['/machine']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <span jhiTranslate="global.menu.entities.machine">Planta</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/plant-area"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <span jhiTranslate="global.menu.entities.plantArea">Plant Area</span>
          </a>
        </li>
        <li 
          *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <a
              class="dropdown-item"
              routerLink="/machine"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <span jhiTranslate="global.menu.entities.machine">Máquina</span>
            </a>
        </li>
        <li 
          *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <a
              class="dropdown-item"
              routerLink="/machine-model"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <span jhiTranslate="global.menu.entities.machineModel">Modelo Máquina</span>
            </a>
        </li>
        <li 
          *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <a
              class="dropdown-item"
              routerLink="/machine-documentation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <span jhiTranslate="global.menu.entities.machineDocumentation">Doc Máquina</span>
            </a>
        </li>
      </ul>
    </li>
    }
    @if (languages && languages.length > 1) {
    <li class="has-dropdown">
      <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="languagesnavBarDropdown">
        <span>
          <fa-icon icon="flag"></fa-icon>
          <span jhiTranslate="global.menu.language">Idioma</span>
        </span>
      </a>
      <ul class="submenu dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
        @for (language of languages; track $index) {
          <li>
            <a
              class="dropdown-item"
              [jhiActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        }
      </ul>
    </li>
    }
  </ul>

</nav>
