<nav data-cy="navbar" class="">

  <div class="user-options-left">
    <div class="user-block">
      <img class="user_icon_profile" src="./content/images/ICONO_Usuario.svg" alt="">
      <span>{{account?.firstName}}</span>
    </div>
    
    <div class="info-block">
      <button>
        <img class="operation_icon" src="./content/images/ICONO_Campana.svg" alt="">
      </button>
      <button>
        <img class="operation_icon" src="./content/images/ICONO_Info.svg" alt="">
      </button>
      <div class="languages">
        <ul class="item_dropdown">
          @if (languages && languages.length > 1) {
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
              <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                <span>
                  <fa-icon icon="flag"></fa-icon>
                </span>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                  @for (language of languages; track $index) {
                    <li>
                      <a
                        class="dropdown-item"
                        [jhiActiveMenu]="language"
                        ngbDropdownItem
                        href="javascript:void(0);"
                        (click)="changeLanguage(language); collapseNavbar()">
                        {{ language | findLanguageFromKey }}
                      </a>
                    </li>
                  }
                </ul>
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="centered-logo no-mobile">
    <img src="./content/images/ICONO_Logo_Sothis.svg" alt="">
  </div>
  
  <label for="input-hamburguer" class="hamburger hamburguer-mobile close" >
    <fa-icon icon="bars"></fa-icon>
  </label>
  <input type="checkbox" id="input-hamburguer" hidden>

  <ul class="menu_items">
    <li><a href="#" class="menu-link"><span jhiTranslate="global.menu.home">Inicio</span></a></li>
    @if (account !== null) {
    <li class="has-dropdown">
      <a class="menu-link" href="javascript:void(0);" id="entity-menu" data-cy="entity">
        Entidades
        <span class="arrow"></span>
      </a>
      <ul class="submenu">
        <li 
            *jhiHasAnyAuthority="['ROLE_ADMIN']">
              <a
                class="dropdown-item"
                routerLink="/organization"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="toogleNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.organization">Organizacion</span>
              </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            [routerLink]="['/site']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.site">Site</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item menu-link"
            [routerLink]="['/plant']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.plant">Plant</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/plant-area"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.plantArea">Plant Area</span>
          </a>
        </li>
        <li 
            *jhiHasAnyAuthority="['ROLE_ADMIN']">
              <a
                class="dropdown-item"
                routerLink="/machine"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.machine">Machine</span>
              </a>
          </li>
          <li 
            *jhiHasAnyAuthority="['ROLE_ADMIN']">
              <a
                class="dropdown-item"
                routerLink="/machine-model"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.machineModel">machine-model</span>
              </a>
          </li>
          <li 
            *jhiHasAnyAuthority="['ROLE_ADMIN']">
              <a
                class="dropdown-item"
                routerLink="/machine-documentation"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.machineDocumentation">Machine Documentation</span>
              </a>
          </li>
      </ul>
    </li>
    }
    @if (languages && languages.length > 1) {
    <li class="has-dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="languagesnavBarDropdown">
        <span>
          <fa-icon icon="flag"></fa-icon>
          <span jhiTranslate="global.menu.language">Idioma</span>
        </span>
      </a>
      <ul class="submenu dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
        @for (language of languages; track $index) {
          <li>
            <a
              class="dropdown-item"
              [jhiActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        }
      </ul>
    </li>
    }
  </ul>

</nav>
<div class="sidenav">
  <div class="toggle_btn">
    <label for="input-hamburguer" class="hamburger close">
      <fa-icon icon="bars"></fa-icon>
    </label>
    <input type="checkbox" id="input-hamburguer" [(ngModel)]="!isNavbarCollapsed" hidden>
  </div>
  <ul>
      @if (account) {
          <li>
              <div class="list_icon">
              <img class="sidenav_icon" (click)="navigate('/')" src="./content/images/ICONO_Inicio.svg" alt="" title="home">
              </div>
          </li>
          <li>
          <div class="list_icon">
              <img class="sidenav_icon" src="./content/images/ICONO_Listados.svg" (click)="navigate('/')" alt="">
          </div>
          </li>
          <li>
              <div class="list_icon">
                  <img class="sidenav_icon" src="./content/images/ICONO_Configuracion.svg" alt="">
              </div>
          </li>
          <li>
              <div class="list_icon">
                  <img class="sidenav_icon" (click)="navigate('admin/user-management')" src="./content/images/ICONO_Gestion_usuarios.svg" alt="" title="users">
              </div>
          </li>
          <li>
          <div class="list_icon">
              <img class="sidenav_icon" (click)="confirmLogout()" src="./content/images/ICONO_Salir.svg" alt="" title="logout">
          </div>
          </li>
      
      } @else {
          <li><div class="list_icon"><fa-icon (click)="login()" icon="right-from-bracket" [fixedWidth]="true"></fa-icon></div></li>
      }
      </ul>
</div>
