<h2 mat-dialog-title>
  @if(modalType === 'edit') {
  <label jhiTranslate="userManagement.editUser">Editar Usuario</label>
  }@else if(modalType === 'new'){
  <label jhiTranslate="userManagement.newUser">Nuevo Usuario</label>
  }@else if(modalType === 'delete'){
  <label jhiTranslate="userManagement.deleteUser">Eliminar Usuario</label>
  }@else if(modalType === 'view'){
  <label jhiTranslate="userManagement.viewUser">Ver Usuario</label>
  }
</h2>
<mat-dialog-content>
  <form name="editForm" role="form" novalidate (ngSubmit)="save(modalType)" [formGroup]="editForm">
    @if(modalType === 'edit' || modalType === 'view' || modalType === 'new') {
    <div class="dialog_card">
      <span class="group_title" jhiTranslate="userManagement.data">Datos</span>

      <div class="dialog_group">
        <div class="form-group group_input">
          <label jhiTranslate="userManagement.firstName">Nombre</label>
          @if (modalType === 'edit' || modalType === 'new') {
          <input type="text" class="form-control" name="firstName" formControlName="firstName" />
          }@else {
          <br>
          <span>{{editForm.get('firstName')?.value}}</span>
          }
        </div>
        <div class="form-group group_input">
          <label jhiTranslate="userManagement.lastName">Apellidos</label>
          @if (modalType === 'edit' || modalType === 'new') {
          <input type="text" class="form-control" name="lastName" formControlName="lastName" />
          }@else {
          <br>
          <span>{{editForm.get('lastName')?.value}}</span>
          }
        </div>
        <div class="form-group group_input">
          <label jhiTranslate="userManagement.langKey">Idioma</label>
          @if (modalType === 'edit' || modalType === 'new') {
          <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
            @for (language of languages; track $index) {
            <option [value]="language">{{ language | findLanguageFromKey }}</option>
            }
          </select>
          }@else {
          <br>
          <span>{{userSelected?.lastName}}</span>
          }
        </div>
        <div class="form-group group_input">
          <label>Rol</label>
          @if (modalType === 'edit' || modalType === 'new') {
          <select class="form-control" multiple name="authority" formControlName="authorities">
            @for (authority of authorities; track $index) {
            <option [value]="authority">{{ authority }}</option>
            }
          </select>
          }@else {
          <br>
          <span>{{userSelected?.authorities}}</span>
          }
        </div>

      </div>
    </div>

    <div class="dialog_card">
      <span class="group_title" jhiTranslate="userManagement.acces">Acceso</span>
      <div class="dialog_group">
        <div class="form-group group_input">
          <label jhiTranslate="userManagement.login">Login</label>
          @if (modalType === 'edit' || modalType === 'new') {
          <input type="text" class="form-control" name="login" formControlName="login" />
          }@else {
          <br>
          <span>{{editForm.get('login')?.value}}</span>
          }
        </div>
        <div class="form-group group_input">
          <label jhiTranslate="userManagement.email">Email</label>
          @if (modalType === 'edit' || modalType === 'new') {
          <input type="email" class="form-control" name="email" formControlName="email" />
          }@else {
          <br>
          <span>{{editForm.get('email')?.value}}</span>
          }
        </div>
      </div>
    </div>

    }@else {
    <label jhiTranslate="userManagement.delete.question">¿Seguro que quieres eliminar el usuario seleccionado?</label>
    }
  </form>
</mat-dialog-content>

<div class="btn_group end">
  <mat-dialog-actions>
    <!--Botón Aceptar. Todos los modales menos View tienen dos botones Aceptar y Cancelar-->
    @if(modalType === 'edit' || modalType === 'new' || modalType === 'delete') {
    <button class="round_button selected" cdkFocusInitial (click)="save(modalType)"
      jhiTranslate="userManagement.accept">Aceptar</button>
    }
    <!--Botón Cancelar. El modal View solo tiene un botón. Como no tiene que hacer nada se usa el boton Cancelar-->
    @if(modalType === 'view'){
    <button class="round_button" mat-dialog-close jhiTranslate="userManagement.accept">Aceptar</button>
    }@else{
    <button class="round_button" mat-dialog-close jhiTranslate="userManagement.cancel">Cancelar</button>
    }

  </mat-dialog-actions>
</div>