<div class="row">
  <div class="col-md-12">
    
    <div>
      @if (account !== null) {
        <h1 class="display-6"><span>Bienvenido {{account.firstName}}</span></h1>

        <div id="charts">

          
          <dx-chart
          id="verticalBarsChart"
          title="World Population by Decade"
          [dataSource]="populationData">
          <dxo-legend [visible]="false"></dxo-legend>
          <dxi-series type="bar"></dxi-series>
          <dxo-argument-axis [tickInterval]="10">
            <dxo-label>
              <dxo-format type="decimal"></dxo-format>
            </dxo-label>
          </dxo-argument-axis>
          </dx-chart>


          <div id="chart-demo">
            <dx-chart
              title="Corporations with Highest Market Value"
              palette="Harmony Light"
              [dataSource]="corporationsInfo"
            >
              <dxi-series valueField="y2005" name="2005"></dxi-series>
              <dxi-series valueField="y2004" name="2004"></dxi-series>
              <dxo-common-series-settings
                #commonSeries
                argumentField="company"
                [type]="types[0]"
              ></dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false"></dxo-argument-axis>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
              </dxo-legend>
            </dx-chart>
            <div class="options">
              <div class="caption">Options</div>
              <div class="option">
                <span>Series Type</span>
                <dx-select-box
                  [dataSource]="types"
                  [(value)]="commonSeries.type"
                  [inputAttr]="{ 'aria-label': 'Series Type' }"
                >
                </dx-select-box>
              </div>
            </div>
          </div>

        </div>
        
      } @else {
        <h1 class="display-6"><span>Autenticación requerida</span></h1>
        <p class="lead">Debe de loguearse para acceder a la aplicación</p>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">Si desea </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">iniciar sesión</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, puede intentar con las cuentas predeterminadas:<br />- Administrador (usuario=&quot;admin&quot; y
            contraseña=&quot;admin&quot;) <br />- Usuario (usuario=&quot;user&quot; y contraseña=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">¿Aún no tienes una cuenta?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Crea una cuenta</a>
        </div>
      }
    </div>
  
  </div>
</div>
