<div class="breadcrumb-bar">
  <div class="go_back" (click)="goBack()" >
    <div class="go_back_button"><span class="arrow" *ngIf="!isDashboard"></span></div>
  </div>
  <div class="breadcrumbs">
    <ng-container *ngFor="let item of breadcrumbItems; let last = last">
      <span *ngIf="!last" (click)="navigate(item.url)" class="breadc-item">{{ item.label | translate }}</span>
      <span *ngIf="last">{{ item.label | translate }}</span>
      <div class="breadcrumb-separator" *ngIf="!last">/</div>
    </ng-container>
  </div>
</div>