<div class="breadcrumb-bar">
  <span class="go_back_button pointerItem" (click)="goBack()"><</span>
    <div class="breadcrumbs">
        <span>Inicio</span>
        <div class="breadcrumb-separator">/</div>
        <span>Usuarios</span>
        <div class="breadcrumb-separator">/</div>
        <span>Listado de Usuarios</span>
    </div>
    <div class="list-operations">   
        <div class="d-flex justify-content-end">
          <button class="btn_1">
            <fa-icon icon="user"></fa-icon>
          </button>
          <button class="list_add_btn">
            <fa-icon icon="user"></fa-icon>
          </button>
          <button class="list_btn">
            <fa-icon icon="user"></fa-icon>
          </button>
        </div>
      </div>
</div>
