<div class="sidenav">
    <div class="toggle_btn">
        <img class="sidenav_icon" (click)="navigate('/')" src="./content/images/ICONO_Menu.svg" alt="">
    </div>
    <ul>
        @if (account) {
            <li>
                <div class="list_icon">
                <img class="sidenav_icon" (click)="navigate('/')" src="./content/images/ICONO_Inicio.svg" alt="">
                </div>
            </li>
            <li>
            <div class="list_icon">
                <img class="sidenav_icon" (click)="navigate('organization')" src="./content/images/ICONO_Listados.svg" alt="">
            </div>
            </li>
            <li>
                <div class="list_icon">
                    <img class="sidenav_icon" (click)="navigate('organization')" src="./content/images/ICONO_Configuracion.svg" alt="">
                </div>
            </li>
            <li>
                <div class="list_icon">
                    <img class="sidenav_icon" (click)="navigate('user-management')" src="./content/images/ICONO_Gestion_usuarios.svg" alt="">
                </div>
            </li>
            <li>
            <div class="list_icon">
                <img class="sidenav_icon" (click)="logout()" src="./content/images/ICONO_Salir.svg" alt="">
            </div>
            </li>
        
        } @else {
            <li><div class="list_icon"><fa-icon (click)="login()" icon="right-from-bracket" [fixedWidth]="true"></fa-icon></div></li>
        }
        </ul>
</div>
