<div class="sidenav">
    <div class="toggle_btn">
        <fa-icon class="toogle_nav_icon " icon="bars" [fixedWidth]="false"></fa-icon>
    </div>
    <ul>
        <li><div class="list_icon"><fa-icon icon="home" [fixedWidth]="false"></fa-icon></div></li>
        <li><div class="list_icon"><fa-icon icon="list" [fixedWidth]="true"></fa-icon></div></li>
        <li><div class="list_icon"><fa-icon icon="gears" [fixedWidth]="true"></fa-icon></div></li>
        <li><div class="list_icon"><fa-icon icon="users" [fixedWidth]="true"></fa-icon></div></li>
        <li><div class="list_icon"><fa-icon icon="right-from-bracket" [fixedWidth]="true"></fa-icon></div></li>
    </ul>
