<div>
  <h2 id="page-heading" data-cy="PlantHeading">
    <span jhiTranslate="jhipsterSiteApp.plant.home.title">Plants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSiteApp.plant.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plant"
        [routerLink]="['/plant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSiteApp.plant.home.createLabel">Crear nuevo Plant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (plants?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSiteApp.plant.home.notFound">Ningún Plants encontrado</span>
    </div>
  }

  @if (plants && plants.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reference">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.reference">Reference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="site.name">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSiteApp.plant.site">Site</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (plant of plants; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/plant', plant.id, 'view']">{{ plant.id }}</a>
              </td>
              <td>{{ plant.reference }}</td>
              <td>{{ plant.name }}</td>
              <td>{{ plant.description }}</td>
              <td>{{ plant.address }}</td>
              <td>{{ plant.location }}</td>
              <td>{{ plant.createdAt | formatMediumDatetime }}</td>
              <td>{{ plant.updatedAt | formatMediumDatetime }}</td>
              <td>
                @if (plant.site) {
                  <div>
                    <a [routerLink]="['/site', plant.site.id, 'view']">{{ plant.site.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a class="table-icon" [routerLink]="['/plant', plant.id, 'view']" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a class="table-icon" [routerLink]="['/plant', plant.id, 'edit']" data-cy="entityEditButton">
                    <img class="operation_icon" src="./content/images/ICONO_Editar.svg" alt="">
                  </a>

                  <button class="table-icon" (click)="delete(plant)" data-cy="entityDeleteButton">
                    <img class="operation_icon" src="./content/images/ICONO_Eliminar.svg" alt="">
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (plants && plants.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
